# Prueba Técnica

##### **Objetivo:** Asignación de retos comerciales para la variable de GCAR del negocio empresarial por gerente comercial y análisis de tamaño comercial.

### Tener en cuenta:
- El reto para la variable de GCAR de la Vicepresidencia Empresarial para 2024 es un crecimiento del 15% adicional vs el año anterior.
- La Vicepresidencia Empresarial consta de 8 zonas y 78 gerentes comerciales.
- En la hoja datos se encuentran los datos codificados de la GCAR y tamaño comercial por gerente comercial y zona de enero 2022 a diciembre 2023. El dato es generado mensualmente, es decir, no se encuentra acumulado.
- En la hoja Zonas códigos se encuentra la relación del código de zona y el nombre de la zona. En la hoja Rubros códigos se encuentra el código del rubro y la descripción del mismo.
- Para encontrar el valor del reto de GCAR se debe acumular los resultados del año 2023 y aplicar la tasa de crecimiento para el año 2024.
- Recordar que el TC se acumula como el promedio de los meses y la GCAR en suma. El cierre de cada año es acumulado de enero a diciembre.

---

### Actividad 1:  Responda las siguientes preguntas:

1. Cuál fue el gerente con mayor crecimiento en su Tamaño comercial entre 2022 y 2023? // el gerente con mayor crecimiento comercial es el **9116** con un crecimiento de **813.809,24**
2. Cuánto fue el crecimiento de la zona Antioquia 1 en GCAR entre 2022 y 2023? // el crecimiento de la zona Antioquia 1 en GCAR fue de **993.99**
3. Cuál fue la zona con menor GCAR en el segundo semestre de 2022 y la de mayor tamaño comercial en todo 2023?

In [26]:
# Importamos las libreria pandas para trabajar con los datos y responder las preguntas de la actividad 1
import pandas as pd
pd.options.display.float_format = '{:.2f}'.format

In [27]:
# Importamos los datos necesarios del archivo de excel para resolver las preguntas de la actividad 1

df_datos = pd.read_excel(r'Prueba Bancolombia 2024 (analitico).xlsx', sheet_name='Datos')
df_rubros_codigos = pd.read_excel(r'Prueba Bancolombia 2024 (analitico).xlsx', sheet_name='Rubros codigos')
df_zonas_codigos = pd.read_excel(r'Prueba Bancolombia 2024 (analitico).xlsx', sheet_name='Zonas códigos')

In [28]:
# Creamos 2 columnas para saber los totales del 2022 y 2023

df_datos['total_2022'] = df_datos.filter(like='2022').sum(axis=1)
df_datos['total_2023'] = df_datos.filter(like='2023').sum(axis=1)

In [29]:
# Creamos una columna para saber el crecimiento de los totales del 2022 y 2023 restando la diferencia de los totales

df_datos['Crecimiento'] = df_datos['total_2023'] - df_datos['total_2022']

Podemos ver las columnas **"total_2022"**, **"total-2023"** y **"Crecimiento"** creadas al final del DataFrame omitiendo los datos mensuales

In [37]:
df_datos.loc[: , ['zona', 'gerente', 'cod_rubro', 'total_2022', 'total_2023', 'Crecimiento']]

      zona  gerente  cod_rubro  total_2022  total_2023  Crecimiento
105  22220     9116      96450  2887119.17  3700928.40    813809.24
133  22300     9922      96450  2810509.57  3267508.32    456998.75
110  22220     9218      96450  1189113.04  1618350.21    429237.17
88   22120     9274      96450  1901843.38  2283314.82    381471.44
120  22230     9160      96450  1663402.64  2017606.78    354204.14
..     ...      ...        ...         ...         ...          ...
104  22210     9909      96450   745644.59   616213.09   -129431.50
142  22400     9334      96450  1584679.45  1440570.97   -144108.48
141  22400     9310      96450  2495384.17  2345218.70   -150165.47
144  22500     9144      96450  2436456.01  2266446.89   -170009.12
118  22230     9149      96450  1374972.79  1184364.36   -190608.42

[152 rows x 6 columns]

#### 1. Cuál fue el gerente con mayor crecimiento en su Tamaño comercial entre 2022 y 2023?
    Para responder esta pregunta inicialmente Nos fijamos en el dataFrame de los rubros para identificar el codigo del Tamaño comercial

In [39]:
df_rubros_codigos

       descri_rubro  cod_rubro
0              GCAR      95999
1  Tamaño comercial      96450

    Una vez hecho esto, solo filtramos el codigo 96450 y agrupamos por gerente

In [44]:
df_temp = df_datos.loc[df_datos['cod_rubro'] == 96450].groupby('gerente').agg({'total_2022': 'sum', 'total_2023': 'sum', 'Crecimiento': 'sum'}).reset_index().copy()

    Finalmente ordenamos los datos de mayor a menor utilizando la columna **"Crecimiento"**, para llegar a la conclusion de que el gerente con mayor crecimiento comercial es el 9116 con un crecimiento de 813.809,24

In [45]:
df_temp.sort_values(by='Crecimiento', ascending=False)

    gerente  total_2022  total_2023  Crecimiento
1      9116  2887119.17  3700928.40    813809.24
75     9922  2810509.57  3267508.32    456998.75
35     9218  1189113.04  1618350.21    429237.17
38     9274  1901843.38  2283314.82    381471.44
19     9160  1663402.64  2017606.78    354204.14
..      ...         ...         ...          ...
70     9909   745644.59   616213.09   -129431.50
50     9334  1584679.45  1440570.97   -144108.48
46     9310  2495384.17  2345218.70   -150165.47
11     9144  2436456.01  2266446.89   -170009.12
14     9149  1374972.79  1184364.36   -190608.42

[76 rows x 4 columns]

#### 2. Cuánto fue el crecimiento de la zona Antioquia 1 en GCAR entre 2022 y 2023?

    Inicialmente para resolver esta pregunta identificamos el codigo de la zona Antioquia 1 del dataFrame df_zonas_codigos el cual corresponde a 22110

In [46]:
df_zonas_codigos

    zona                          Desc
0  22110  VP Empresas zona Antioquia 1
1  22120  VP Empresas zona Antioquia 2
2  22210     VP Empresas zona Bogotá 1
3  22210     VP Empresas zona Bogotá 1
4  22220     VP Empresas zona Bogotá 2
5  22230     VP Empresas zona Bogotá 3
6  22300       VP Empresas zona Centro
7  22400          VP Empresas zona Sur
8  22500       VP Empresas zona Caribe

    Buscamos el codigo de GCAR en el dataFrame df_rubros_codigos el cual corresponde a 95999

In [47]:
df_rubros_codigos

       descri_rubro  cod_rubro
0              GCAR      95999
1  Tamaño comercial      96450

    filtramos la zona 22110 y el codigo de rubro 95999 y sumamos los totales y el crecimiento para concluir que el crecimiento de la zona Antioquia 1 en GCAR fue de 993.99

In [51]:
df_temp = df_datos.loc[(df_datos['cod_rubro'] == 95999) & (df_datos['zona'] == 22110)].groupby('zona').agg({'total_2022': 'sum', 'total_2023': 'sum', 'Crecimiento': 'sum'}).reset_index().sort_values(by='Crecimiento', ascending=False)

    Calculamos el porcentaje de crecimiento equivalente a 1.69%

In [57]:
df_temp['Porcentaje_Crecimiento'] = (df_temp['Crecimiento'] / df_temp['total_2022']) * 100
df_temp['Porcentaje_Crecimiento']

0   1.69
Name: Porcentaje_Crecimiento, dtype: float64

#### 3. Cuál fue la zona con menor GCAR en el segundo semestre de 2022 y la de mayor tamaño comercial en todo 2023?